@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Special+Elite&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
}
body{
    background-color: whitesmoke;
    font-size: 22px;
    margin: 0;
}
h2{
    margin: 0;
}
.logo{
    width: 80px;
}
#logo_link{
    padding-top: 5px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
header{
    background-color: #929378;
}
nav{
    text-align: center;
    font-family: Inter, Helvetica, sans-serif;
}
nav a{
    color: whitesmoke;
    text-decoration: none;
    padding: 35px;
}
nav a:hover{
    background-color: #113E15;
    color: whitesmoke;
}
.home-title{
    color:black;
    font-size: 2em;
    margin-top: 10px;
}
h4{
    color: black;
}
#hero-box{
    text-align: center;
}
#hero-img{
    width: 100%;
}
#hero section{
    font-family: "Special Elite";
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main{
    font-family: Inter, Helvetica, sans-serif;
}
main section{
    text-align: center;
}
main section img{
    box-sizing: border-box;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img{
    border: 10px solid #113E15;
}
#background{
    background-color: #113E15;
    height: 725px
}
.book, .join{
    background-color: #396E94;
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #929378;
    color: #396E94;
}
.msg{
    background-color: #929378;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2{
    color: black;
}
.msg p{
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}
footer{
    background-color: #929378;
    color: whitesmoke;
    font-family: Inter, Helvetica, sans-serif;
    padding: 25px 50px;
    margin-top: 200px;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
footer a{
    color: whitesmoke;
    text-decoration: none;
}
footer a:hover{
    color: #396E94;
}
footer .social img{
    padding-top: 15px;
}