/*The selector is 'body'. All declarations are within the curly brackets*/
body{
    /*Aligns the body and its children with the page's center*/
    text-align: center;
}
nav {
    /*Gives the navigation bar a steel blue background*/
    background-color: steelblue;
    /*Give the nav box a wider border*/
    padding: 10px;
}
/*Below is a PSEUDO_CLASS that allows the color of a button to
change when it is hovered over by the cursor*/
a:hover{
    background-color: white;
    color: steelblue;
}
#active{
    background-color: white;
    color: steelblue;
}
a {
    /*Makes nav bar text white*/
    color: white;
    /*Gives space between nav bar elements*/
    margin: 40px;
}
/*'h1' and the 'title' ID both affect the same thing. Practiced using ID's*/
h1 {
    /*Makes the first header steel blue*/
    color: steelblue;
}
#title{
    background-color: white;
}
img {
    /*Modifys the image's width*/
    width: 800px;
    /*Gives the image a solid steel blue border*/
    border: 4px solid steelblue;
}
p{
    /*Gives space around the paragraph*/
    padding: 10px;
}
/*Only targets second paragrah*/
.testing{
    background-color: gray;
    color: white;
}
.main-para{
    /*Modifys font size*/
    font-size: 1.5em;
    /*Modifys size of line containing font*/
    line-height: 1.5em;
}
footer{
    /*Gives the footer a steelblue background*/
    background-color: steelblue;
    /*Makes footer elements white*/
    color: white;
}
/*If there was more present in the footer, this selector would still
ONLY targer the 'p' section of the footer*/
footer p{
    font-size: 20px;
    margin: 20 px auto;
}